.home {
  .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-products__list-first,
  .home-products__list-second {
    margin-top: 13rem;
    width: 85rem;

    h1 {
      max-width: 15rem;
      margin: 0;
      color: #000;
      font-size: 2.4375rem;
      font-weight: 500;
      line-height: 3.125rem;
      text-transform: uppercase;
    }
  }

  .home-products__list-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .products-pagination__button-prev,
    .products-pagination__button-next {
      background: transparent;
      border: none;
      cursor: pointer;

      svg path {
        transition: 0.3s;
      }
    }

    .products-pagination__button-prev:disabled {
      cursor: default;
    }

    .products-pagination__button-next:disabled {
      cursor: default;
    }

    .products-pagination__button-prev:hover {
      svg path {
        opacity: 1;
        transition: 0.3s;
      }
    }

    .products-pagination__button-next:hover {
      svg path {
        opacity: 1;
        transition: 0.3s;
      }
    }

    .products-pagination__button-prev:disabled {
      svg path {
        opacity: 0.4;
        transition: 0.3s;
      }
    }

    .products-pagination__button-next:disabled {
      svg path {
        opacity: 0.4;
        transition: 0.3s;
      }
    }
  }

  .home-products__list-bottom {
    margin-top: 2.75rem;
    display: flex;

    .home-products__list {
      display: flex;
      gap: 2rem;
    }
  }
}

@media (max-width: 1024px) {
  .home {
    .home-products__list-first {
      margin-top: 5rem;
    }

    .home-products__list-second {
      margin-top: 5rem;
    }

    .home-products__list-first,
    .home-products__list-second {
      width: 57rem;
      h1 {
        max-width: 6rem;
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .home-products__list-first,
  .home-products__list-second {
    display: flex;
    flex-direction: column;

    .home-products__list {
      justify-content: center;
    }

    .home-products__list-bottom {
      justify-content: center;

      .home-products__list {
        justify-content: center;
      }
    }

    .home-products__list {
      flex-wrap: wrap;
      gap: 2rem;

      .product-card {
        margin: 0;
      }
    }

    h1 {
      max-width: 14rem;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .home {
    .home-products__list-first,
    .home-products__list-second {
      width: 100%;

      .home-products__list-bottom{
        .home-products__list{
          gap: 1rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .home .home-products__list-top {
    padding: 0 3.3rem;
  }

  .product-card{
    width: 20rem;
    height: 27rem;

    .product-card__top{
      height: 15rem;
      img{
        object-fit: cover;
      }
      .product-card__swiper .swiper-pagination{
        top: 14rem;
      }
    } 
  }
}

@media (max-width: 700px) {
  .product-card{
    width: 18rem;
  }
}

@media (max-width: 650px) {
  .home .home-products__list-top{
    padding: 0 3.8rem;
  }
  .product-card{
    width: 16rem;
  }
}

@media (max-width: 560px) {
  .home .home-products__list-top{
    padding: 0 3rem;
  }
  .product-card{
    width: 14rem;
  }
}

@media (max-width: 500px) {
  .home .home-products__list-top{
    padding: 0 3rem;
  }
  .product-card{
    width: 12rem;

    .product-card__top{
      height: 13rem;
      img{
        object-fit: contain;
      }
      .product-card__swiper .swiper-pagination{
        top: 12rem;
      }
    } 
  }
}

@media (max-width: 450px) {
  .home .home-products__list-top{
    padding: 0 1.5rem;
  }
}

@media (max-width: 425px) {
  .home .home-products__list-top {
    padding: 0 1.7rem;
  }

  .product-card{
    width: 11rem;
  }

  .home-products__list-first,
  .home-products__list-second {
    .home-products__list {
      padding: 0 1rem;
    }
  }
}

@media (max-width: 424px) {
  .home {
    .home-products__list-first,
    .home-products__list-second {

      .home-products__list-bottom{
        .home-products__list{
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .home .home-products__list-top {
    padding: 0 1rem;
  }

  .product-card{
    width: 10rem;
    height: 20rem;

    .product-card__top{
      .product-card__swiper .swiper-pagination{
        width: 6rem;
      }
    }

    .product-card__bottom{
        .product-card__options{
          .product-card__popularity{
            width: 3rem;
            font-size: 0.4875rem;
          }

          .product-card__status{
            width: 4rem;
            font-size: 0.4875rem;
          }

          .product-card__sale{
            width: 2rem;
            font-size: 0.4875rem;
          }
        }
    }
  }

  .home .home-products__list-first {
    margin-top: 7rem;
  }

  .home-products__list-first,
  .home-products__list-second {
    .home-products__list {
      gap: 1rem;
    }
  }
}


@media (max-width: 359px) {
  .home-products__list-top {
    padding: 0 1rem;
  }

  .product-card{
    width: 8.5rem;

    .product-card__top{
      height: 9rem;

      .product-card__swiper .swiper-pagination{
        top: 8rem;
      }
    } 

    .product-card__bottom{
      .product-card__colors p {
        display: flex;
        align-items: center;

        span{
          width: 0.800rem;
          height: 0.800rem;
        }
      }
        .product-card__options{
          .product-card__popularity{
            width: 1rem;
            font-size: 0.4875rem;
            padding: 0.3rem 0.5rem;
          }

          .product-card__status{
            width: 3rem;
            font-size: 0.4875rem;
            padding: 0.3rem 0;
          }

          .product-card__sale{
            width: 2rem;
            font-size: 0.4875rem;
            padding: 0.3rem 0.5rem;
          }
        }
    }
  }
}
