.tabs-item__reviews-list {
  padding: 0;
}

.tabs-item__reviews-review {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #d8d8d8;

  .reviews-review__name {
    color: #2f2f2f;
    font-size: 1.1875rem;
    font-weight: 400;
    line-height: 1.5625rem;
    text-transform: uppercase;
  }

  .reviews-review__text {
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
    color: #363636;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5625rem;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
  }

  .reviews-review__rating {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    .reviews-review__date {
      margin-left: 1rem;
      color: #5e5e5e;
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1.5625rem;
      letter-spacing: 0.0075rem;
      text-transform: uppercase;
    }
  }
}
