.header-mobile {
  display: none;
  width: 100%;
  justify-content: center;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  height: 4.375rem;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 10;

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85rem;
    margin: 0 auto;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    justify-content: space-between;

    .header-logo {
      display: flex;
      align-items: center;
      padding: 0 1.88rem;
      height: 100%;
      border-right: 1px solid #eaeaea;
      cursor: pointer;
    }

    .header-menu__button {
      display: flex;
      align-items: center;
      margin: 0 2rem auto;
      background: transparent;
      border: none;
      cursor: pointer;

      span {
        margin-left: 0.62rem;
        color: #000;
        font-family: Pragmatica;
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 0.6875rem;
      }
    }

    .header-menu {
      display: flex;
      align-items: baseline;
      width: 100%;
    }
  }

  .auth {
    display: flex;
    align-items: center;
    color: #585858;
    font-family: Pragmatica;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 0.6875rem;
    text-decoration: none;
    transition: 0.3s ease-in;
    cursor: pointer;
  }

  .auth svg {
    margin-right: 0.44rem;
  }
}

.header-mobile.active{
  border-top: transparent;
  z-index: 15;
}


.header-navigation {
  display: flex;
  align-items: center;
  gap: 3.56rem;

  .header-navigation_link {
    color: #000;
    font-family: Pragmatica;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.6875rem;
    text-decoration: none;
    transition: 0.3s;
    text-transform: uppercase;
  }

  .header-navigation_link:hover {
    color: #ff6915;
    transition: 0.3s;
  }
}

.header-tools {
  display: flex;
  height: 100%;
  
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.375rem;
    border-left: 1px solid #eaeaea;
    cursor: pointer;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.375rem;
    border-left: 1px solid #eaeaea;
    cursor: pointer;
  }

  .favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.375rem;
    border-left: 1px solid #eaeaea;
    cursor: pointer;
  }

  .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.375rem;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    cursor: pointer;
    transition: 0.3s;
    
    .cart-counter {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      text-align: center;
      top: 18px;
      right: 15px;
      width: 1.00075rem;
      height: 1.00075rem;
      background-color: #ff6915;
      border-radius: 50%;
      opacity: 0;
      transition: 0.3s;
    }

    .cart-counter.visible {
      opacity: 1;
      transition: 0.3s;
    }

    p {
      color: #fff;
      font-size: 0.5625rem;
      font-weight: 700;
      line-height: normal;
    }
  }

  .cart svg path {
    transition: 0.3s;
  }

  .cart:hover {
    background-color: #000;
    transition: 0.3s;
  }

  .cart:hover svg path {
    stroke: #fff;
    transition: 0.3s;
  }

  .favorites svg path {
    transition: 0.3s;
  }

  .favorites:hover {
    background-color: #000;
    transition: 0.3s;
  }

  .favorites:hover svg path {
    stroke: #fff;
    transition: 0.3s;
  }

  .search svg path {
    transition: 0.3s;
  }

  .search:hover {
    background-color: #000;
    transition: 0.3s;
  }

  .search:hover svg path {
    stroke: #fff;
    transition: 0.3s;
  }

  .profile svg path {
    transition: 0.3s;
  }

  .profile:hover {
    background-color: #000;
    transition: 0.3s;
  }

  .profile:hover svg path {
    stroke: #fff;
    transition: 0.3s;
  }
}

@media (max-width: 1300px) {
  .header-mobile {
    display: flex;
  }
}

@media (max-width: 500px) {
  .header-tools .search{
    display: none;
  }
  .header-mobile .header-container{
    padding: 0;
  }

  .header-logo{
    padding-left: 1.88rem;
  }
}

@media (max-width: 425px) {
  .header-tools .profile{
    display: none;
  }

  .header-mobile .header-container .header-menu__button{
    margin: 0 1rem auto;
  }
}

@media (max-width: 375px) {

  .header-tools .cart{
    border-right: none;
    border-left: none;
    width: 3rem;
  }

  .header-tools .favorites{
    width: 3rem;
  }

}

@media (max-width: 320px) {
  .header-tools .cart{
    border-right: none;
    border-left: none;
    width: 3rem;
  }

  .header-tools .favorites{
    width: 3rem;
  }

  .header-mobile .header-container .header-logo{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}